.layout {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
    margin-top: 20px;
    padding: 40px 10px;
}

.heading {
    color: gray;
    font-weight: 800;
    font-size: 20px;
}

.city {
    font-style: italic;
    color: gray;
}

/* .alldataContainer {

} */